################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GrandHotelNirvana/GrandHotelNirvana/Migrations
/GrandHotelNirvana/.vs/GrandHotelNirvana/v15/Server/sqlite3
